@import "custom";

.landing_page {
  .img_container {
    height: 400px;
  }
  .image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .img_container_card {
    width: 100%;
    height: 200px;
  }

  .info_cards {
    height: fit-content;
  }
  .header {
    min-height: 100vh;
  }
}

.index_main {
  min-height: 100vh;
  .deals_container {
    min-height: 60vh;
    background-color: rgb(53, 53, 53);
  }

  .img_all_container {
    width: 100%;
    height: 150px;
  }
  .img_all {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.register {
  min-height: 100vh;
}
